/* Title/ Search */

.title img {
  width: 50px
}

.title span {
  color: white;
  font-size: 2rem;
}

.search {
  position: relative;
}

.search input {
  background-color: none;
  border-radius: 20px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
}

.search input:focus {
  background-color: none;
  padding-right: 36px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.search input::placeholder {
  color: white;
  opacity: 0.9;
}

.input-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
}

.autocomplete{
  position:relative;
  display: inline-block;
}̨

.autocomplete-items {
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  top: 100%;
  width: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);;
  border-bottom: 1px solid #d4d4d4;
  width: 100%;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: rgba(255, 255, 255, 1);;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.icon-input {
  padding-right: 36px;
}

#conditionIcon {
  height: 4rem;
}

/* Widget */

div.widget
{
  position: relative;
  background-color: #fcfdfd;
  border-radius: 9px;
  box-shadow: 0px 31px 35px -26px #080c21;
}

div.date
{
  font-size: 14px;
  font-weight: bold;
  color: rgba(0,0,0,0.5);
}

div.city
{
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 5px;
  color: rgba(0,0,0,0.7);
}

div.temp
{
  font-size: 81px;
  color: rgba(0,0,0,0.9);
  font-weight: 100;
}

div.tablecell
{
  justify-content: space-between;
}
